.App {
  text-align: center;
}

.calc-body {
  max-width: 400px;
  margin: auto;
}

.scicalc-body {
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  background-color: aliceblue;
  width: 100%;
}

.result p {
  font-size: 40px;
}

.buttons {
  display: block;
  background-color: azure;
}

.buttons button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

/* .button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background: linear-gradient(
    to bottom,
    rgba(252, 156, 23, 1) 0%,
    rgba(247, 126, 27, 1) 100%
  );
} */
